{% extends 'base.html' %}{% load static %}
{% block title %}{% if object %}Edit Priority{% else %}Add Priority{% endif %} - Hangarin{% endblock %}
{% block nav_priorities %}active{% endblock %}
{% block content %}
<div class="content"><div class="container-fluid">
    <h4 class="page-title">{% if object %}Edit Priority{% else %}Add Priority{% endif %}</h4>
    <div class="row"><div class="col-md-6"><div class="card">
        <div class="card-header">
            <div class="card-title">{% if object %}Update Priority{% else %}Add New Priority{% endif %}</div>
            <div class="card-category">Fill in the details below</div>
        </div>
        <div class="card-body">
            <form action="" method="post" novalidate>{% csrf_token %}
                {% include 'includes/form.html' %}
                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-primary btn-rounded"><i class="la la-save"></i> Save</button>
                    <a href="{% url 'priority-list' %}" class="btn btn-secondary btn-rounded"><i class="la la-arrow-left"></i> Cancel</a>
                </div>
            </form>
        </div>
    </div></div></div>
</div></div>
{% endblock %}
